/** @format */

.services-container {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  .header-tag {
    padding-top: 4rem;
  }
  position: relative;
}
.services-contents {
  width: 100%;
  padding: 4% 0 15%;
}
.selservice-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.123);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  .selservice-contents {
    width: 28rem;
    min-height: 100px;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.082);
    border-radius: 15px;
    position: relative;
    .close_btn {
      position: absolute;
      border: 0;
      outline: 0;

      background: transparent;
      color: black;
      top: -2rem;
      right: -0.5rem;
      cursor: pointer;
      border-radius: 50%;
      padding: 0.2rem 0.3rem 0.1rem;
      background-color: white;
      .close_btn-active {
        font-size: 1.2rem;
        border-radius: 50%;
      }
    }
    ul {
      li {
        margin: 0.8rem 0;
        font-weight: 800;
        letter-spacing: 0.8px;
        font-family: ps_thin;
        font-size: 0.95rem;
      }
    }
  }
}
.services-contents {
  width: 80%;
  margin: 7rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem 4rem;
  flex-wrap: wrap;
  .service-item {
    width: 260px;
    height: 250px;
    background-color: white;
    border: 2px solid rgba(240, 57, 189, 0.18);
    box-sizing: border-box;
    box-shadow: inset -1px 16px 23px rgba(0, 0, 0, 0.027);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    padding: 0.8rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h5 {
      margin: 0.8rem 0;
      font-size: 1.75rem;
      letter-spacing: 1.2px;
      font-family: ps_regular;
      line-height: 1.29;
    }
    .service-icon {
      font-size: 1.9rem;
    }
    span {
      opacity: 0.8;
      cursor: pointer;
      &:hover {
        color: rgb(217, 53, 250);
      }
    }
    &:hover {
      box-shadow: inset -1px 16px 23px rgba(0, 0, 0, 0.192);
    }
  }
}
@media screen and (max-width: 800px) {
  .services-container {
    .header-tag {
      padding-top: 2rem;
    }
  }
  .services-contents {
    margin: 3rem 0;
    width: 100%;
    gap: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .services-contents {
    margin-bottom: 1.5rem;
    .service-item {
      width: 85%;
      h5 {
        margin: 0.8rem 0;
        font-size: 1.68rem;
        letter-spacing: 1.2px;
        font-family: ps_regular;
        line-height: 1.29;
      }
      .service-icon {
        font-size: 1.9rem;
      }
      span {
        opacity: 0.8;
        cursor: pointer;
        &:hover {
          color: rgb(217, 53, 250);
        }
      }
    }
  }
  .selservice-container {
    .selservice-contents {
      width: 85%;
      ul {
        padding-left: 1.1rem;
      }
    }
  }
}
