/** @format */

.projects-container {
  width: 100%;
  height: auto;
}
.projects-contents {
  width: 100%;
  padding: 3% 0 15%;
}
.projects {
  width: 80%;
  margin: 0 auto;
}
.projects-contents-header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0 1.8rem;
  .project-item-header {
    height: 30px;
    width: 5.5rem;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    span {
      font-family: ps_medium;
      letter-spacing: 0.8px;
    }

    &:hover {
      border: 2px solid rgb(161, 2, 148);
      color: rgb(161, 2, 148);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
