/** @format */

.info-container {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  margin-top: 3rem;
  .header-tag {
    width: 15rem;
  }
}
.info-contents {
  width: 100%;
  padding: 4% 0 7%;
  position: relative;
}

.info-contents-header {
  display: flex;
  justify-content: center;
  gap: 0 7rem;
  position: relative;
  right: 0.8rem;
  margin-bottom: 4.5rem;

  .info-h4,
  .info-h4active {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: ps_thin;
    font-weight: 600;
    letter-spacing: 1.2px;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      color: #119dfa;
    }
  }
  .info-h4active {
    color: #119dfa;
  }
  .info-icon {
    margin-top: 0.2rem;
    margin-right: 0.4rem;
    font-size: 1.8rem;
  }
}
.info-list {
  width: 55rem;

  min-height: 20rem;
  margin: 3rem auto 0;
  display: flex;

  flex-direction: column;
  position: relative;
  left: 1rem;
  .info-centerline {
    position: absolute;
    content: "";
    width: 0.14rem;
    height: 85%;
    background-color: #119dfa;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s ease-in-out;
  }
  .info-item {
    width: 27.5rem;
    opacity: 1;
    position: relative;
    transform: translateX(-20%);
    .circle {
      position: absolute;
      right: -0.5rem;
      top: 0;
      z-index: 50;
    }
  }
  @keyframes animateCircle {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes animateHeight {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  .info-item:nth-child(odd) {
    align-self: flex-end;
    position: relative;
    transform: translateX(20%);
    .circle {
      position: absolute;
      left: -0.6rem;
    }
    text-align: right;
  }
  h6 {
    font-size: 1.55rem;
    margin: 0.9rem 0 0.4rem;
    font-family: ps_light;
    letter-spacing: 0.7px;
  }
  span {
    font-size: 1.28rem;
    font-family: ps_thin;
    display: block;
    letter-spacing: 0.7px;
  }
  .info-span2 {
    margin-top: 1.2rem;
    font-family: ps_light;
    opacity: 0.5;
  }
}
@media screen and (max-width: 1100px) {
  .info-list {
    width: 85%;
    padding: 0;
    margin: 0 auto;
    left: 0;
    .info-item {
      width: 100%;
      padding-right: 0%;
      margin: 1rem 0;

      .circle {
        position: absolute;
        right: 1.5rem;
        top: 0;
        z-index: 50;
      }
    }
    .info-centerline {
      position: absolute;
      content: "";
      width: 0.14rem;

      top: 0;
      right: 2rem;
      left: auto;
    }
    .info-item:nth-child(odd) {
      align-self: auto;
      position: relative;
      transform: translateX(0%);
      text-align: left;
      .circle {
        position: absolute;
        right: 1.5rem;
        left: auto;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .info-container {
    .header-tag {
      padding-top: 3rem;
      margin-bottom: 1.5rem;
    }
  }
  .info-contents-header {
    padding-bottom: 1.5rem;
    padding-top: 0.8rem;
    width: 90%;
    margin: 0 auto;
    right: 0;
    justify-content: space-around;
    gap: 0 0rem;
    .info-h4,
    .info-h4active {
      font-size: 1.35rem;
    }
  }
  .info-contents {
    padding-bottom: 5rem;
  }
  .info-list {
    left: 0;
    .info-item {
      .circle {
        position: absolute;
        right: -0.4rem;
        top: 0;
        z-index: 50;
      }
    }
    .info-item:nth-child(odd) {
      .circle {
        position: absolute;
        right: -0.4rem;
        left: auto;
      }
    }
    .info-centerline {
      right: 0rem;
      left: auto;
    }
    h6 {
      font-size: 1.5rem;
      margin: 0.9rem 0 0.4rem;
      font-family: ps_light;
      letter-spacing: 0.7px;
    }
    span {
      font-size: 1.1rem;
    }
  }
}
