/** @format */

.skill-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  .header-tag {
    width: 6rem;
    padding-top: 0;
    font-size: 2.4rem;
  }
}
.skill-contents {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem 3rem;
}

// .skill-icons {
//   position: absolute;
//   top: 1.5rem;
//   left: 0.8rem;
//   cursor: pointer;
//   z-index: 50;
//   .skill-icon {
//     font-size: 1.7rem;
//   }
//   span {
//     display: block;
//     width: 1.25rem;
//     height: 0.15rem;
//     margin: 0.15rem;
//     background-color: rgb(21, 115, 223);
//     transition: all 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
//   }
// }

.skill-icon {
  color: rgb(21, 115, 223);
}
.skill-item-left {
  width: 28rem;
  min-height: 50px;
  position: relative;

  .skill-item-box {
    width: 100%;
    height: 70px;
    background-color: rgba(211, 211, 211, 0.048);
    box-shadow: rgba(0, 0, 0, 0.123) 0px 25px 50px -12px;
    position: relative;
    transition: all 0.5s ease-in-out;
    border: 3px solid #119dfa1e;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    .skill-icons-active {
      span {
        transform: rotate(45deg);
      }
      span:nth-child(1) {
        position: relative;
        top: 0.3rem;
      }
      span:nth-child(2) {
        transform: rotate(-45deg);
      }
      span:nth-child(3) {
        opacity: 0;
      }
    }
  }
  .skill-item-box-active {
    width: 100%;
    height: 400px;
    padding-bottom: 3rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .skill-h4 {
    margin-top: 0.8rem;

    width: 100%;
    text-align: center;

    font-size: 1.7rem;
    font-family: ps_light;
    letter-spacing: 1.2px;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    margin-bottom: 0;
    margin-left: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .code-icon {
      margin-right: 0.5rem;
      color: #119dfa;
    }
    .code-icon2 {
      font-size: 1.8rem;
    }
  }

  .h4-active {
    margin-top: 0rem;
    transform: translateY(20px);
    font-size: 2rem;
  }
}
.skill-details {
  width: 90%;
  height: auto;

  margin: 0rem auto 2rem;
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.8rem 1rem;
  // .skill {
  //   display: flex;
  //   align-items: center;
  //   width: 10rem;
  //   justify-content: space-around;
  //   position: relative;

  //   transition: all 1s ease-in-out;

  //   &::before {
  //     position: absolute;
  //     top: 2rem;
  //     z-index: 0;
  //     content: "";
  //     height: 100%;
  //     width: 0.2rem;
  //     background-color: #fa42c6c4;
  //     left: 0%;
  //   }
  // }
  .skill-list {
    display: flex;
    align-items: center;

    min-width: 10rem;
    svg {
      display: none;
    }
  }
  .skill-data {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    gap: 0 0.7rem;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.171);
    width: 100%;
    padding: 0.15rem 0.8rem;
    padding-left: 0.4rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.007) 0px 10px 50px;

    border: 2px solid rgba(0, 119, 255, 0.075);
    &:hover {
      border: 2px solid rgba(0, 119, 255, 0.192);
    }
    &::before {
      position: absolute;
      left: 1.4rem;
      bottom: 5rem;

      z-index: -1;
      content: "";
      height: 0;
      width: 0.2rem;
      // background-color: #0786dbf5;
      transition: all 1.5s ease-in-out;
      transform-origin: top;
    }
    img {
      width: 42px;
      height: 42px;
      object-fit: cover;
      border-radius: 50%;
      border: 3px solid #f039bc00;
      transition: alls 0.5s ease;
      position: relative;
      z-index: 1;
    }
    span {
      font-family: ps_regular;
      font-size: 1.2rem;
    }
    .skill-logo {
      width: 40px;
      height: 40px;
    }
  }
  // .skill-data_active {
  //   &::before {
  //     height: 100%;
  //     bottom: -2.2rem;
  //     z-index: 0;
  //   }
  // }
  // .skill-no_line {
  //   &::before {
  //     height: 0;
  //     width: 0;
  //     background-color: #fa42c602 !important;
  //   }
  // }
  .skill:nth-child(1) {
    padding: 0.2rem 0;
  }
  .skill-active {
    height: 100%;
    opacity: 1;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes animatepadding {
    0% {
      height: 0;
      opacity: 0;
    }

    100% {
      height: 20px;
      opacity: 1;
    }
  }
  @keyframes animatepadding2 {
    0% {
      height: 20px;
      opacity: 0;
    }

    100% {
      height: 0;
      opacity: 1;
    }
  }

  @keyframes animateBorder {
    0% {
      border: 0px solid #f039bd;
    }

    100% {
      border: 3px solid #f039bc73;
    }
  }
}
@media screen and (max-width: 1100px) {
  .skill-item-left {
    min-height: 100px;
    width: 92%;
  }
  .skill-details {
    width: 100%;
    // justify-content: center;
    // align-items: center;
    margin-left: 0;

    .skill-data {
      span {
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .skill-container {
    min-height: 25.5rem;
    padding-bottom: 2rem;
    .header-tag {
      width: 6rem;
      padding-top: 2.7rem;
    }
  }
  .skill-details {
    gap: 0.45rem 0;
  }
  .skill-contents {
    gap: 0;
    padding: 0rem 0 0rem;
    min-height: 50vh;
  }
  .skill-item-left {
    margin-top: 1rem;
    min-height: 80px;

    .skill-item-box {
      .skill-icons {
        top: 0.35rem;
        right: 0.3rem;
        left: auto;
      }
    }
    .skill-h4 {
      justify-content: flex-start;
      margin-left: 1rem;
      margin-top: 1.4rem;
      font-size: 1.5rem;
    }
  }
  .skill-item-left:nth-child(2) {
    margin-top: 1.4rem;
  }
}
