/** @format */
:root {
  --primary-color: white;
  --secondary-color: black;
}
.home-container {
  width: 100%;
  height: auto;
}
.header-tag {
  text-align: center;
  font-family: ps_medium;
  font-size: 2.5rem;
  position: relative;
  width: 12rem;
  margin: 0.8rem auto;
  padding-top: 2rem;
  padding-bottom: 0.6rem;
  letter-spacing: 1.2px;
  &::after {
    position: absolute;
    bottom: 0;
    height: 0.2rem;
    background-color: #1d94e4de;
    content: "";
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.home-contents {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-color);
  // background: url("https://i.ibb.co/gMhyGqj/nubelson-fernandes-i-E71-TMrrk-E-unsplash-min-1.webp")
  //   no-repeat center;
  // background-size: cover;
  position: relative;
  background-attachment: fixed;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.479) 32.29%,
      #000000b6 84.38%
    );
    z-index: 0;
  }
  .home-h1 {
    font-family: Newspaper;
    font-weight: 600;

    font-size: 3rem;
    margin-top: 0;
    letter-spacing: 0.9px;
    position: relative;
    z-index: 1;

    margin-bottom: 0.7rem;
  }
  .home-span {
    z-index: 1;
    font-family: ps_light;

    font-size: 1.35rem;
    letter-spacing: 1px;
  }
}
.home-icons {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  font-size: 1rem;
  z-index: 20;
  .home-linkedin,
  .home-github {
    padding: 0.5rem;
    font-size: 1.6rem;
    margin: 0 0.9rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
      color: #0e8ee2;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
.scroll-div {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  .scroll-icon {
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    color: #ffffff4d;
    &:hover {
      transform: translateY(5px);
      color: #0e8ee2;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
@media screen and (max-width: 1100px) {
  .home-container-acitve {
    position: relative;
  }
  .home-contents {
    .home-h1 {
      font-weight: 600;

      font-size: 2.5rem;
    }
    .home-span {
      font-size: 1.1rem;
    }
  }
}
@media screen and (max-width: 720px) {
  .header-tag {
    font-size: 2rem;
    margin-top: 0;
  }
}
