/** @format */

.contact-container {
  width: 100%;
  height: auto;
}

.contact-contents {
  width: 100%;
  padding: 2% 0 10%;
}
form {
  width: 38em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  button {
    padding: 0.6rem 0.8rem 0.65rem;
    margin-top: 1.5rem;
    background-color: #0b91eb;
    color: white;
    border: 0;
    outline: 0;
    font-family: ps_regular;
    font-size: 1.02rem;
    letter-spacing: 0.6px;
    box-shadow: 0px 10px 20px #0b91eb2c;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
      border: 2px solid black;
      background: transparent;
      color: black;
    }
  }
}
.contact-name {
  margin: 0.6rem 0 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  input {
    width: 15rem;
    border: 3px solid #119dfa1e;
    background-color: #f9f9f9;
    font-family: ps_regular;
    letter-spacing: 0.9px;
    font-size: 1.05rem;
    outline: 0;
    padding: 0.8rem;
  }
}
.contact-details {
  width: 100%;

  textarea {
    width: 100%;

    border: 3px solid #119dfa1e;
    background-color: #f9f9f9;
    font-family: ps_regular;
    letter-spacing: 0.9px;
    font-size: 1.05rem;
    padding: 0.8rem;
  }
}
