/** @format */

.acc-h2 {
  display: flex;
  align-items: center;
  gap: 0 0.8rem;
  font-size: 1.65rem;
  font-family: ps_light;
  letter-spacing: 0.8px;
}
.acc-details {
  width: 40rem !important;
  padding: 0 2rem !important;
}
.acc {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.041) !important;
}
@media screen and (max-width: 720px) {
  .acc-details {
    width: 400px !important;
    padding: 0 2rem !important;
  }
}
@media screen and (max-width: 500px) {
  .acc {
    width: 100% !important;
    margin: 0 auto;
    padding: 1rem 0em !important;
  }
  .acc-details {
    margin: 0 auto;
    width: 300px !important;
    padding: 1rem !important;
    padding-left: 2rem !important;
  }
  .acc-h2 {
    font-size: 1.6rem;

    letter-spacing: 0.8px;
    margin: 0.8rem 0;
    gap: 0 0.5rem;
  }
  //   #panel1a-header {
  //     padding: 0 0.5rem;
  //   }
  //   #panel2a-header {
  //     padding: 0 0.5rem;
  //   }
}
@media screen and (max-width: 360px) {
  .acc-details {
    margin: 0 auto;
    width: 80% !important;
  }
}
